:root {
  /* TODO: remove unnecessary variables */
  /* --body-background-color: #f9fbfd; */
  --button-color: #423867;
  --button-color-hover: #6a59a6;
  /* --button-color-active: hsl(360deg 91% 36%); */
  --button-color-disabled: hsl(0deg 34% 47%);
  --button-color-text: hsl(0deg 0% 100%);
  --button-box-shadow: rgba(0 0 0 / 10%) 0px 1px 6px 0px rgba(0 0 0 / 20%) 0px
    1px 1px 0px;
  --card-border-radius: 5px;
  --card-box-shadow: rgba(0 0 0 15%) 0px 2px 8px 0px;
  --card-color: hsl(206deg 17% 28%);
  --card-header-after-background-color: #e7e9eb;
  --card-header-after-height: 2px;
  --password-border-color: #c0c7cf;
  --button-font-size: 1.2rem;
  --button-padding-tb: 0.6rem;
  --button-padding-rl: 1.2rem;
  --toggle-button-font-size: 1rem;
  --toggle-button-padding-tb: 0.4rem;
  --toggle-button-padding-rl: 0.8rem;
  --button-corner-radius: 25px;
  --margin-medium: 0.75rem;
  --margin-large: 1.5rem;
  --font-size-smallish: 0.9rem;
  --font-size-small: 0.7rem;
  --font-size-normal: 1rem;
  --font-size-large: 1.4rem;
  --error-text-color: #b6382f;
  --color-main: #4a4e4d;
  --color-secondary: #90afc5;
  --color-accent-1: #6a4c93;
  --color-accent-2: #65818a;
  --color-accent-3: #eefbff;
  --text-color: #333;
  --password-font-family: "Roboto Mono", monospace, courier;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.wrapper {
  font-family: Roboto, "Open Sans", Montserrat, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: var(--color-main);
}

body {
  font-family: sans-serif;
  background-color: var(--body-background-color);
}

.wrapper {
  padding-top: var(--margin-medium);
  padding-left: var(--margin-medium);
  padding-right: var(--margin-medium);
}

header {
  text-align: center;
  padding: var(--margin-medium) 0;
  padding-top: 0;
  background-color: var(--color-main);
}

h1 {
  color: var(--color-secondary);
  margin: 0.67em 0 0;
}

.card {
  background-color: var(--color-accent-3);
  border-radius: var(--card-border-radius);
  border-width: 1px;
  box-shadow: var(--card-box-shadow);
  color: var(--card-color);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header h2 {
  font-size: var(--font-size-large);
  font-weight: bold;
  margin: 0.5em 0;
  color: var(--color-accent-1);
}


#instructions {
  display: none;
  transition: all 0.5s ease-in-out;
}


.instructions h3 {
  font-size: var(--font-size-normal);
  font-weight: bold;
  margin: 0.5em 0;
  color: var(--color-accent-2);
}

.instructions p,
.instructions li,
.feedback p,
.feedback li {
  font-size: var(--font-size-smallish);
  line-height: 1.4;
  color: (var(--text-color));
}

.instructions li,
.feedback li {
  margin-left: 3em;
  color: (var(--text-color));
}

.error-message {
  color: var(--error-text-color) !important;
  font-size: var(--font-size-normal) !important;
  font-weight: 600;
  font-style: italic;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: var(--card-header-after-background-color);
  height: var(--card-header-after-height);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  min-height: 100px;
}

/* this contains the copy password button and the feedback */
.post-generate {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: var(--card-header-after-background-color);
  height: var(--card-header-after-height);
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn, .btn-toggle {
  border: none;
  background-color: var(--button-color);
  border-radius: var(--button-corner-radius);
  box-shadow: var(--button-box-shadow);
  color: var(--button-color-text);
  display: inline-block;
  font-size: var(--button-font-size);
  line-height: var(--button-font-size);
  margin: 16px 16px 16px 20px;
  padding: var(--button-padding-tb) var(--button-padding-rl);
  text-align: center;
  cursor: pointer;
}

.btn-toggle{
  font-size: var(--toggle-button-font-size);
  padding: var(--toggle-button-padding-tb) var(--toggle-button-padding-rl);
  transition: all 0.3s ease-in-out;
  margin:0;
  margin-top: var(--toggle-button-padding-tb );
  font-style: italic;
  font-weight: 300;
}

.btn-copy {
  align-self: flex-start;
  border: none;
  background-color: var(--button-color);
  border-radius: var(--button-corner-radius);
  box-shadow: var(--button-box-shadow);
  color: var(--button-color-text);
  font-size: var(--button-font-size);
  line-height: var(--button-font-size);
  margin: var(--margin-medium);
  padding: var(--button-padding-tb) var(--button-padding-rl);
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--button-color-hover);
  outline: 2px solid var(--color-accent-2);
}

button[disabled] {
  cursor: default;
  background: var(--button-color-disabled);
}

#password {
  appearance: none;
  display: block;
  width: 100%;
  font-family: var(--password-font-family);
  font-size: 1.2rem;
  padding: 1em 1em 3em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed var(--password-border-color);
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

#password:focus {
  border: 2px solid var(--password-border-color);
}

#password::selection {
  background: var(--button-color);
  color: var(--color-accent-3);
}

#feedback {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

#selection-header {
  font-weight: 500;
}

footer {
  text-align: center;
  padding: var(--margin-medium) 0;
  padding-bottom: 0;
  background-color: var(--color-main);
  color: var(--color-secondary);
}

/* TODO: make this responsive mobile-first */
@media (max-width: 690px) {
  .card {
    padding: 15px 10px;
  }

  .btn,
  .btn-copy {
    font-size: 1rem;
    margin: 16px 0 0;
    padding: 10px 15px;
  }

  #password {
    font-size: var(--font-size-normal);
    margin: 0;
    padding: 1em 1em 5em;
  }

  .instructions li,
  .feedback li {
    font-size: var(--font-size-smallish);
  }
}

@media (max-width: 500px) {
  .card {
    padding: 5px;
  }

  .btn,
  .btn-copy {
    font-size: 0.8rem;
  }

  #password {
    font-size: var(--font-size-smallish);
    margin: 0;
    padding: 0.5em 0.5em 5em;
  }

  .instructions p,
  .instructions li,
  .feedback p,
  .feedback li {
    font-size: var(--font-size-small);
  }
}
